/* HomesComponent's private CSS styles */
.homes {
    margin: 0 0 2em 0;
    list-style-type:none;
    padding: 0;
    width: 30em;
  }
  
  .homes li {
    display:flex;
  }
  
  .homes button {
    flex: 1;
    cursor:grab;
    position: relative;
    left: 2;
    background-color:rgb(219, 35, 142);
    margin: .5em;
    padding: 0;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    height: 1.8em;
  }
  
  .homes button:hover {
    color: #2c3a41;
    background-color: #0e7238;
    left: .1em;
  }
  
  .homes button:active {
    background-color: #a6aebe;
    color: #fafafa;
  }
  
  .homes button.selected {
    background-color: rgb(238, 228, 228);
    color: rgb(196, 4, 4);
  }
  
  .homes button.selected:hover {
    background-color: #505050;
    color: rgb(255, 255, 255);
  }
  
  .homes button.selected:active {
    background-color: black;
    color: white;
  }
  
  .homes .badge {
    display:inline-block;
    font-size:small;
    color: rgb(0, 255, 255);
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #614053;
    line-height: 1em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  
  .homes .name {
    align-self: center;
  }

  /* css for the list of homes once separated from main dashboard. Remember to edit the heroes to homes*/
.homes li:hover {
  left: .1em;
}

.homes a {
  color: #333;
  text-decoration: none;
  background-color: #d610b5;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.homes a:hover {
  color: #2c3a41;
  background-color: #076933;
}

.homes a:active {
  background-color: #690f8d;
  color: #fafafa;
}

/* HomesComponent's private CSS styles */
.homes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

input {
  display: block;
  width: 100%;
  padding: .5rem;
  margin: 1rem 0;
  box-sizing: border-box;
}

.homes li {
  position: relative;
  cursor: pointer;
}

.homes li:hover {
  left: .1em;
}

.homes a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.homes a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.homes a:active {
  background-color: #525252;
  color: #fafafa;
}

.homes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.add-button {
 padding: .5rem 1.5rem;
 font-size: 1rem;
 margin-bottom: 2rem;
}

.add-button:hover {
  color: white;
  background-color: #42545C;
}

button.delete {
  position:absolute;
  left: 210px;
  top: 5px;
  background-color: rgb(166, 209, 11);
  color:  #525252;
  font-size: 1.1rem;
  margin: 0;
  padding: 3px 10px 3px 10px;
}

button.delete:hover {
  background-color: #525252;
  color: white;
}

